<style>
    .card{
        margin-left:100px;
        margin-top:100px;
    }
</style>
<div class="row">
<div class="card" style="width: 18rem;">
    <img src="assets/img/AA.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Arabic</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/E.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">English</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/c++.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">C++</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/py.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Python</p>
    </div>
  </div>
  
</div>